table {
    border-spacing: 1;
    border-collapse: collapse;
    background: var(--white-color);
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative
}

table thead tr {
    height: 4rem;
    color: var(--dark-color);
    border-bottom: 1px solid var(--light-color);
    font-weight: var(--fw-bold);
    
}

table thead tr th:first-child,
table tbody tr td:first-child{
    padding-left: var(--large-gap);
}

table tr {
    height: 3rem;
}

table td,
table th {
    text-align: left;
}

tbody tr {
    color: var(--secondary-color);
}

tbody tr:hover {
    background-color: var(--light-color);
    cursor: pointer;
}

@media screen and (max-width:992px) {
    table {
        display: block
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 2rem 0
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: .8rem;
        color: var(--secondary-color);
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

     table tbody tr td:nth-child(1):before {
        content: "#"
    }

    table tbody tr td:nth-child(2):before {
        content: "Id"
    }
/*
    table tbody tr td:nth-child(3):before {
        content: "Name"
    }

    table tbody tr td:nth-child(4):before {
        content: "Price"
    }

    table tbody tr td:nth-child(5):before {
        content: "Quantity"
    }

    table tbody tr td:nth-child(6):before {
        content: "Total"
    } */

    

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%
    }

    tbody tr {
        font-size: .8rem;
    }
}

@media(max-width:576px) {
    .container-table100 {
        padding-left: .65rem;
        padding-right: .65rem;
    }
}


.button {
    text-decoration: none;
    background-color: var(--info-color);
    border: 1px solid var(--info-color);
    color: var(--white-color);
    padding: 0.35rem 0.75rem;
    display: inline-block;
    border-radius: 3rem;
    font-size: var(--fs-small);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button:hover{
    box-shadow: 0 4px 6px rgb(33 76 88 / 49%);
}

.customer-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--large-gap);
}
.customer-heading .button{
    font-size: var(--fs-large);
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}
h2{
    font-size: var(--fs-large);
    text-transform: capitalize;
}

