

<div class="container">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <form action="">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <span class="material-symbols-outlined">mail</span>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <span class="material-symbols-outlined">lock</span>
                    </span>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                        aria-describedby="basic-addon1">
                </div>
            </form>
            <a href="#" class="card-link">Forgot Password</a>
        </div>
    </div>
</div>